{% extends '_base.html' %}

{% block content %}
<div class="landing">
    <div class="landing-wrapper">
        <div class="landing-content">
            <a target="_blank" href="http://npr.org/music"><img class="logo img-responsive" src="http://media.npr.org/chrome/music/music-logo.svg"></a>
            <div class="landing-card">
                <h1 class="title">{{ COPY.content.brand }}</h1>
                <h2>{{ COPY.content.subtitle }}</h2>

                <div class="landing-firstload-deck">
                    <div class="tags-wrapper">
                        <a class="go" href="#">Play</a>
                    </div>
                </div>
                <div class="landing-return-deck">
                    <div class="tags-wrapper">
                        <a class="continue" href="#">Welcome Back!</a>
                    </div>
                </div>
                <div class="landing-cast-receiver-deck">
                    <div class="tags-wrapper">
                        <a class="loading" href="#">Loading...</a>
                    </div>
                </div>

                <p class="language-advisory"><span class="fa fa-warning"></span> ADVISORY: Some of these songs contain explicit language.</p>

                <p class="credits">By {{ COPY.content.music_credits}}</p>
                <p class="credits">Design and Development by {{ COPY.content.viz_credits}}</p>
                <p class="pubdate">{{ COPY.content.pubdate}}</p>
                <p class="credits">{{ COPY.content.austin_2015}}</p>
            </div>
        </div>
    </div>
    <div class="covervid-wrapper">
    </div>
<!--     <div class="poster-static">
    </div> -->
    <div class="poster">
        <p class="tip-one"><iframe frameborder="no" width="100%" style="height: 100vh;" src="http://www.npr.org/spt/austin100/titos/"></iframe></p>
    </div>
</div>

<div class="fixed-header">
    <div class="branding">
      <a target="_blank" href="http://npr.org/music"><img class="logo img-responsive" src="http://media.npr.org/chrome/music/music-logo.svg"></a>
      <h1 class="title">{{ COPY.content.brand }}</h1>
    </div>

    <div class="support">
      <p>support comes from <a href="https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=15946482&PluID=0&ord=[timestamp]" target="_blank"><img class="logo" src="assets/titos-logo-white.svg"></a><img src="https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=19&mc=imp&pli=15946482&PluID=0&ord=[timestamp]&rtu=-1"></p>
    </div>

    <div class="fixed-header-controls">
        <div class="full-list">
            <a href="http://www.npr.org/2016/03/01/468352361/the-austin-100-a-sxsw-2016-mix" target="_blank"><span class="icon-list"></span> full list</a>
        </div>

        <div class="share">
            <a class="" data-toggle="modal" data-backdrop="static" data-target="#share-modal"><span class="icon-share"></span> <span>Share</span></a>
        </div>

        <div class="fullscreen">
            <a href="#" class="start"><span class="icon-fullscreen"></span> Fullscreen</a>
            <a href="#" class="stop" style="display: none;"><span class="icon-fullscreen"></span> Exit fullscreen</a>
        </div>
    </div>
</div>

<div class="songs-wrapper">
    {% include '_songs.html' %}
    {% include '_player.html' %}
    {% include '_share_modal.html' %}
    <div class="poster start">
        <p class="loading"></p>
    </div>
</div>

<script>
    var SONG_DATA = {{ song_data|safe }};
</script>
{% endblock %}
